@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    margin-top: 0;
}

.logo, .cart {
    height: 60px;
}

.logo {
    width: 250px;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.cart {
    display: flex;
    align-items: center;
    margin-left: 80%;
    width: 125px;
}

.havefun-logo {
    margin-top: 15px;
    position: relative;
}

.text-block {
    position: absolute;
    top: 125px;
    left: 120px;
    color: #B4A9A9;
    font-size: 60px;
}

.text-block h1, .text-block h5 {
    margin: 3px;
}

.section-container {
    width: 90%;
    margin-left: 2%;
    margin-top: 40px;
}

.section {
    margin-top: 1px;
    margin-bottom: 4rem;
}

.containers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.img-container h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.img-container h4 {
    margin-top: 4px;
    color: #D2CDCD;
    margin-left: 6px;
    margin-bottom: 0;
}

.buy {
    margin-left: 6px;
    display: flex;
    margin-top: 4px;
    margin-bottom: 0;
}

.addbtn {
    height: 25px;
    background-color: #76B6F7;
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: #E7E2E2;
    margin-left: 35%;
    border: none;
}

#price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
}

.img-container2 img {
    margin-bottom: 0;
}

.profile {
    width: 125px;
    height: 125px;
    border-radius: 45%;
    margin-left: 30%;
    margin-top: 20px;
}

.about {
    background-color: #261515;
    display: flex;
}

.text {
    display: flex;
    color: #CFCBCB;
    align-items: center;
    margin-left: 50%;
    text-align: right;
}

.img h2 {
    display: inline;
    margin-left: 30%;
    margin-top: 45px;
}